.user-wrapper {
  display: inline-block;
  position: absolute;
  top: 20%;
}

.user-icon {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

/* Stop blurring of images */
img {
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

body {
  background: repeating-linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 4px,
    rgba(0, 0, 0, 0.0) 0px,
    rgba(0, 0, 0, 0.0) 25%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pull-requests {
  position: absolute;
  background: white;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  min-width: 100px;
  white-space: nowrap;
  z-index: 99;
}

.pr-count-0 {
  left: 10px;
}


.pr-count-1 {
  left: 9%;
}

.pr-count-1:nth-of-type(1) {
  top: 35%;
}

.pr-count-1:nth-of-type(2) {
  top: 50%;
}

.pr-count-1:nth-of-type(3) {
  top: 65%;
}

.pr-count-1:nth-of-type(4) {
  top: 80%;
}

.pr-count-2 {
  left: 34%;
}

.pr-count-2:nth-of-type(1) {
  top: 35%;
}

.pr-count-2:nth-of-type(2) {
  top: 50%;
}

.pr-count-2:nth-of-type(3) {
  top: 65%;
}

.pr-count-3 {
  left: 59%;
}

.pr-count-3:nth-of-type(1) {
  top: 35%;
}

.pr-count-3:nth-of-type(2) {
  top: 50%;
}

.pr-count-3:nth-of-type(3) {
  top: 65%;
}
.pr-count-4, .pr-count-5, .pr-count-6, .pr-count-7, .pr-count-8, .pr-count-9 {
  left: 84%;
}

.headers>h1 {
  padding-top: 20px;
  display: inline-block;
  position: absolute;
  font-weight: bold;
  font-size: 5em;
}

.header-1 {
  left: 11%;
}

.header-2 {
  left: 36%;
}

.header-3 {
  left: 61%;
}

.header-4 {
  left: 85%;
}

html {
/* background: #16A085; /* fallback for old browsers */ */
/* background: -webkit-linear-gradient(to right, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */ */
/* background: linear-gradient(to right, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */


/* background: #3CA55C; /* fallback for old browsers */ */
/* background: -webkit-linear-gradient(to bottom, #3CA55C , #B5AC49); /* Chrome 10-25, Safari 5.1-6 */ */
/* background: linear-gradient(to bottom, #3CA55C , #B5AC49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */


background: #E55D87; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*  */
}
